<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="./css/estilos.css">
    <!-- CUSTOM JS -->
    <script src="./js/app.js" defer></script>
</head>
<body style="background: #eee">
    <div class="contenedor-division">
        <div class="wrapper">
            <nav class="navbar navbar-expand-md navbar-light bg-light py-1">
                <div class="container-fluid" style="background: center;">
                    <!-- <button class="btn btn-default" id="btn-slider" type="button">
                        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                    </button> 
                    < <a class="navbar-brand me-auto text-danger" href="#">Joh<span class="text-warning">Lou</span></a> -->
                    
                    <div>
                        <!-- class="img-user" -->
                        <img src="./img/logo-tacita-caliente.png" alt=""  class="navbar-brand" style="height: 110px;">
                    </div>
                    <ul class="nav ms-auto">
                        
                        <li class="nav-item dropstart">
                            <a class="nav-link text-dark ps-3 pe-1" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown">
                                <img src="./img/user.png" alt="user" class="img-user">
                            </a>
                            <div class="dropdown-menu mt-2 pt-0" aria-labelledby="navbarDropdown">
                                <div class="d-flex p-3 border-bottom mb-2">
                                    <img src="./img/user.png" alt="user" class="img-user me-2">
                                    <div class="d-block">
                                        <p class="fw-bold m-0 lh-1" id="currentUser"></p>
                                    </div>
                                </div>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-user fa-lg me-3" aria-hidden="true"></i>Perfil
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-cog fa-lg me-3" aria-hidden="true"></i>Ajustes
                                </a>
                                <hr class="dropdown-divider">
                                <a class="dropdown-item" href="#">
									<button class="btn btn-danger" id="btnLogout" >Cerrar sesion</button>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="menu-dashboard" >
                <!-- TOP MENU -->
                <div class="top-menu">
                    <div class="logo">
                        <span>Bienvenido Admin</span>
                    </div>
                    <div class="toggle">
                        <i class='bx bx-menu'></i>
                    </div>
                </div>
                
                <!-- INPUT SEARCH -->
                <div class="input-search">
                    <i class='bx bx-search'></i>
                    <input type="text" class="input" placeholder="Buscar">
                </div>
                <div class="menu">
                    <div class="enlace">
                        <i class="bx bx-plus-medical"></i>
                        <!-- <span>Listar Regristros</span> -->
                        <span><a href="inventario.html">Medicinas</a></span>
                    </div>
                    <div class="enlace">
                        <i class="bx bx-add-to-queue"></i>
                        <!-- <span>Asignar Tareas</span> -->
                        <span><a href="agregarMedicina.html">Agregar medicina</a></span>
                    </div>
                    <div class="enlace">
                        <i class="bx bx-copy-alt"></i>
                        <!-- <span>Vivienda</span> -->
                        <span><a href="ordenes.html">Ordenes</a></span>
                    </div>                    <div class="enlace">
                        <i class="bx bx-bar-chart"></i>
                        <!-- <span>Vivienda</span> -->
                        <span><a href="venta.html">Venta</a></span>
                    </div>
                    <div class="enlace">
                        <i class="bx bx-user"></i>
                        <!-- <span>Usuarios</span> -->
                        <span><a href="clientes.html">Clientes</a></span>
                    </div>
                </div>   
            </div>
        </div>

        <main class="espa">
            <div>
                <h1 class="tittle dash"> Dashboard </h1>
            </div>
			<div class="head-title dash">
				<div class="left">
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Clientes</a>
						</li>
					</ul>
				</div>
                
			</div>
        
		<div id="app">
			<div class="container">
				<table class="table table-striped" style="width:100%">
					<thead>
						<th style="width: 15%;">Cedula</th>
						<th style="width: 20%;">Nombre</th>
						<th style="width: 20%;">Direccion</th>
						<th style="width: 10%;">Celular</th>
						<th style="width: 15%;">Correo</th>
						<th style="width: 20%;"><btn class="btn btn-secondary"
							data-bs-toggle="modal" data-bs-target="#exampleModal">
							Agregar
						</btn></th>
					</thead>
					<tbody>
						<tr v-for="(cliente, index) in clientes">
							<td style="width: 15%;">{{cliente.cedula}}</td>
							<td style="width: 20%;">{{cliente.nombre}}</td>
							<td style="width: 20%;">{{cliente.direccion}}</td>
							<td style="width: 10%;">{{cliente.celular}}</td>
							<td style="width: 10%;">{{cliente.correo}}</td>
							<td style="width: 10%;"><button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#editarModal" @click="editarUsuario(index)">Actualizar</button></td>
							<td style="width: 10%;"><button type="button" class="btn btn-outline-danger" @click="borrarUsuario(index)">Eliminar</button></td>
						</tr>
					</tbody>
				</table>



				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
					  <div class="modal-content">
						<div class="modal-header">
						  <h5 class="modal-title" id="exampleModalLabel">Modal Crear</h5>
						  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
						  <div class="row">
							<div class="col">
								<h5>Cedula:</h5>
								<input type="text" v-model="cedula">
							</div>
							<div class="col">
								<h5>Nombre:</h5>
								<input type="text" v-model="nombre">
							</div>
							<div class="col">
								<h5>Direccion:</h5>
								<input type="text"v-model="direccion">
							</div>
							<div class="col">
								<h5>Celular:</h5>
								<input type="text"v-model="celular">
							</div>		
							<div class="col">
								<h5>Correo:</h5>
								<input type="text"v-model="correo">
							</div>
						  </div>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="limpiar">Close</button>
						  <button type="button" class="btn btn-primary" @click="agregarUsuario">Save changes</button>
						</div>
					  </div>
					</div>
				</div>
				<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
					  <div class="modal-content">
						<div class="modal-header">
						  <h5 class="modal-title" id="exampleModalLabel">Modal Editar</h5>
						  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col">
									<h5>Cedula:</h5>
									<input type="text" v-model="cedula">
								</div>
								<div class="col">
									<h5>Nombre:</h5>
									<input type="text" v-model="nombre">
								</div>
								<div class="col">
									<h5>Direccion:</h5>
									<input type="text"v-model="direccion">
								</div>
								<div class="col">
									<h5>Celular:</h5>
									<input type="text"v-model="celular">
								</div>		
								<div class="col">
									<h5>Correo:</h5>
									<input type="text"v-model="correo">
								</div>
							  </div>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="limpiar">Close</button>
						  <button type="button" class="btn btn-dark" @click="actualizar">Save changes</button>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		</main>   
    </div>         
            
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script>
		const app = new Vue({
			el:'#app',
			data:{
				clientes:[
					
				],
				id:"",
				cedula:"",
				nombre:'',
				correo:'',
				direccion:'',
				celular:'',
			},
			mounted(){
				this.obtenerClientes();
			},
			methods:{
				obtenerClientes(){
					//fetch('url').then(response=>{
					//	for(dato in response.data)
					//		this.usuarios.push({id:dato.id, username:dato.username, password:dato.password,})
					//});
					// Fetch http://localhost:3000/api/usuarios for users
					//Add token to header from localStorage
					fetch('http://localhost:3000/api/clientes',{
						headers:{
							'authorization':localStorage.getItem('token')
						}
					})
						.then(response => response.json())
						.then(data => {
							this.clientes = data;
							}
								
						);
				},
				borrarUsuario(index){
					// this.usuarios.splice(index,1)
					// console.log(index);
					//Get user id and delete it from the database
					let id = this.usuarios[index].id;
			
				},
				editarUsuario(index){
					this.editar=true;
					this.id= this.usuarios[index].id;
					this.username= this.usuarios[index].username;
					this.password= this.usuarios[index].password;
		
				
				},
				actualizar(){
					// if(this.id != "" && this.username !="" && this.password!="" && this.editar){
					// 	let index = this.indexWhere(this.usuarios , usuario => usuario.id == this.id)
					
					// 	this.usuarios[index]={id:this.id, username:this.username, password:this.password}
					// 	this.limpiar();
					// }
					//Update the user in the database
					fetch('https://lectura-medidor-api.herokuapp.com/api/usuarios/update/'+ this.id,{
						method:'PUT',
						headers:{
							'Content-Type':'application/json',
							'authorization':localStorage.getItem('token')
						},
						body:JSON.stringify({
							username:this.username,
							password:this.password,
							role:this.rol
						})
					}).then(response=>{
						//Update the user in the array
						let index = this.indexWhere(this.usuarios , usuario => usuario.id == this.id)
						if(this.rol == 1){
							this.rol = 'Admin';
						}else{
							this.rol = 'User';
						}
						this.usuarios[index]={id:this.id, username:this.username, password:this.password, rol:this.rol}
						this.limpiar();

					});
				},
				agregarUsuario(){
					// if(this.id != "" && this.username !="" && this.password!="" && !this.rol && !this.editar ){
					// 	this.usuarios.push({id:this.id, username:this.username, password:this.password, rol:this.rol})
					// 	this.limpiar();
					// }
					//Post http://localhost:3000/api/auth/register new user
					fetch('https://lectura-medidor-api.herokuapp.com/api/auth/register',{
						method:'POST',
						headers:{
							'Content-Type':'application/json',
							'authorization':localStorage.getItem('token')
						},
						body:JSON.stringify({
							username:this.username,
							password:this.password,
							role:this.rol
						})
					})
						.then(response => response.json())
						.then(data => {
							this.usuarios.push({ 
								id:data.id,
								username:data.username, 
								password:data.password.substring(0,10) + '...',
								rol:data.role
							})
							
							this.limpiar();
						});

						
				},
				indexWhere(array, conditionFn) {
					const item = array.find(conditionFn)
					return array.indexOf(item)
				},

				limpiar(){
					this.id="";
					this.username="";
					this.password="";
					this.rol="";
					this.editar=false;
				}
			}

		})
	</script>

</body >
</html>